# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/

# Environment / Secrets
.env
.env.local
google-services.json
GoogleService-Info.plist

# Testing
coverage/

# OS
.DS_Store
*.pem
